{% load static %}

{% block content %}
    <!-- OUR VISION/MISSION START -->
    <section class="section pb-200 text-white parallax-window" data-parallax="scroll" data-speed="0.2" data-image-src="{% static 'images/img-4.jpg' %} ">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-sm-10">
                    <div class="owl-carousel owl-theme Slider_Vision_Mission">
                        <div class="text-center">
                            <h2 class="text-uppercase text-center font-weight-bold mb-60">Our Vision</h2>
                            <p>Our Vision is to create and maintain an organization of highly
                                skilled construction professionals that serve our Clients’ needs with honesty and
                                integrity. To provide an environment that promotes personal growth and self-pride.
                                Ultimately, to differentiate ourselves as the builder of choice to those seeking quality,
                                personal service, and value.</p>
                        </div>
                        <div class="text-center">
                            <h2 class="text-uppercase text-center font-weight-bold mb-60">Our Mission</h2>
                            <p> Our mission is to provide builder services that surpass our Clients’ expectations. We
                                will accomplish this through the selective use of responsible subcontractors, by hiring
                                and retaining best class employees, and by approaching the building process with
                                honesty and integrity. This will provide the foundation for long term customer relations
                                and growth. We are committed to the success of our Clients, our business partners,
                                and our employees. </p>
                        </div>
                        <div class="text-center">
                            <h2 class="text-uppercase text-center font-weight-bold mb-60">Out Core Values</h2>
                            <p> Our Company Core values revolve around three key words that our every
                                action takes must measure up to. Integrity our top level goal is always to build with integrity
                                by being honest and open with our clients, consultants & subcontractors. We recognize that without a
                                high level of trust, the vital relationships that can make or break a project will dissolve. Pride We
                                instills in all our site staff and management a sense of self achievement and personal responsibility to
                                provide a feeling of personal pride for each and every person who works on a Norwood Interior
                                Design Contactors project. It’s personal pride in a job well done, whatever the task. Enjoyment we
                                understand that each stakeholder in a project has a job to do. However we also know that if people
                                enjoy what they do, they’ll be happier, healthier and achieve more. For most of us, work is a big part
                                of life and life is for enjoying. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- OUR VISION/MISSION END -->
{% endblock content %}
    