{% load static %}

{% block content %}
    <section class="pt-100 bg-light">
        <div class="container">
            <div class="row justify-content-center mb-60 text-center">
                <div class="col-lg-12">
                    <h2 class="text-uppercase text-black font-weight-bold">Why People Choosing Starting</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div>
                        <img class="img-fluid d-block ml-auto mr-auto" src="images/img-10.png" alt="Why People Are Choosing Us">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mt-3 mb-5">
                        <p> We recognize that without a
                            high level of trust, the vital relationships that can make or break a project will dissolve. Pride We
                            instills in all our site staff and management a sense of self achievement and personal responsibility to
                            provide a feeling of personal pride for each and every person who works on a Norwood Interior
                            Design Contactors project. It’s personal pride in a job well done, whatever the task. Enjoyment we
                            understand that each stakeholder in a project has a job to do. However we also know that if people
                            enjoy what they do, they’ll be happier, healthier and achieve more. For most of us, work is a big part
                            of life and life is for enjoying. </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="pl-0 mb-0 list-unstyled why-ul">
                                    <li class="pt-2 pb-2"><i class="fas fa-check mr-2 text-custom"></i>Trusted Company</li>
                                    <li class="pt-2 pb-2"><i class="fas fa-check mr-2 text-custom"></i>Safe & Secure</li>
                                    <li class="pt-2 pb-2"><i class="fas fa-check mr-2 text-custom"></i>Customer Relationship</li>
                                    <li class="pt-2 pb-2"><i class="fas fa-check mr-2 text-custom"></i>Quality Services</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="pl-0 mb-0 list-unstyled why-ul">
                                    <li class="pt-2 pb-2"><i class="fas fa-check mr-2 text-custom"></i>Trusted Company</li>
                                    <li class="pt-2 pb-2"><i class="fas fa-check mr-2 text-custom"></i>Safe & Secure</li>
                                    <li class="pt-2 pb-2"><i class="fas fa-check mr-2 text-custom"></i>Customer Relationship</li>
                                    <li class="pt-2 pb-2"><i class="fas fa-check mr-2 text-custom"></i>Quality Services</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
    